{% extends "header.html" %}
{% load static%}
{% block content %}
  <div class="row mb-5">
    <div class="col-md-7 mx-auto text-center">
      <h2 class="heading-29190">Support</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="service-29128 text-center">
        <span class="d-block wrap-icon">
          <span class="icon-desktop_mac"></span>
        </span>
        <div class="col-md-6 col-lg-4">
          <img src="{% static 'images/3.png' %}" style="width:360%;">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="service-29128 text-center">
        <span class="d-block wrap-icon">
          <span class="icon-desktop_mac"></span>
        </span>
        <div class="col-md-6 col-lg-4">
          <img src="{% static 'images/6.png' %}" style="width:360%;">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="service-29128 text-center">
        <span class="d-block wrap-icon">
          <span class="icon-desktop_mac"></span>
        </span>
        <div class="col-md-6 col-lg-4">
          <img src="{% static 'images/5.png' %}" style="width:360%;">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="service-29128 text-center">
          <span class="d-block wrap-icon">
            <span class="icon-desktop_mac"></span>
          </span>
          <div class="col-md-6 col-lg-6">
            <img src="{% static 'images/1.png' %}" style="height: 180px; padding-left: 150px;">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
          <div class="service-29128 text-center">
            <span class="d-block wrap-icon">
              <span class="icon-desktop_mac"></span>
            </span>
            <div class="col-md-6 col-lg-6">
              <img src="{% static 'images/header.png' %}" style="height: 180px; padding-left: 150px;">
            </div>
          </div>
      </div>
  </div>
{% endblock %}